@model DoctorDTO
@{
    ViewBag.Message = "Add Doctor";
    Layout = "_AdminDashboard";
}

<div class="container">
   <div class="row">
      <div class="col-6 offset-3" style="margin-top:50px;">
         <div class="card">
            <div class="=card-header">
               <h4 class="text-center my-3">Add Doctor</h4>
            </div>
            <form asp-controller="Doctor" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="card-body">
                   <div class="form-group">
                     <label asp-for="FirstName">First Name</label>
                     <input asp-for="FirstName" class="form-control" />
                   </div>
                   <div class="form-group">
                     <label asp-for="LastName">Last Name</label>
                     <input asp-for="LastName" class="form-control" />
                   </div>
                   <div class="form-group">
                     <label asp-for="specialityId">Select Speciality</label>
                     <select asp-for="specialityId" class="form-control" asp-items="ViewBag.Specialities">
                       <option disabled>Select Speciality</option>
                     </select>
                   </div>
                   <div class="form-group">
                     <label asp-for="LicenseNumber">Lisence Number</label>
                     <input asp-for="LicenseNumber" class="form-control" />
                   </div>
                   <div class="form-group">
                     <label asp-for="PhotoPath">Photo</label>
                     <input asp-for="PhotoPath" class="form-control" />
                   </div>
                   <div class="form-group">
                     <label asp-for="gender">Select Gender</label>
                     <select asp-for="gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                       <option disabled>Select Gender</option>
                     </select>
                   </div>
                   <div class="form-group">
                     <label asp-for="city">Select Gender</label>
                     <select asp-for="city" class="form-control" asp-items="Html.GetEnumSelectList<Cities>()">
                       <option disabled>Select City</option>
                     </select>
                   </div>
                   <div class="card-footer text-right">
                     <button class="btn btn-primary">Submit</button>
                     <button class="btn btn-danger">Reset All</button>
                   </div>

                </div>
            </form>
         </div>
      </div>
   </div>
</div>