@using SehatDoc.ViewModels
@model DoctorDTO
@{
    ViewBag.Message = "Edit Doctor";
    Layout = "_AdminDashboard";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Edit Doctor</h4>
                </div>
                <form asp-controller="Doctor" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="specialityId">Select Speciality</label>
                                <select asp-for="specialityId" class="form-control" asp-items="ViewBag.Specialities">
                                    <option disabled>Select Speciality</option>
                                </select>
                                <span asp-validation-for="specialityId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="LicenseNumber">Lisence Number</label>
                                <input asp-for="LicenseNumber" class="form-control" />
                                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-12">
                                <label>State:</label>
                                <select id="stateDropdown" asp-for="StateId" asp-items="@ViewBag.States" class="form-control">
                                    <option value="">Select State</option>
                                </select>
                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label>City:</label>
                                <select id="cityDropdown" asp-for="CityId" name="CityId" asp-items="ViewBag.cities" class="form-control">
                                    <option value="">Select City</option>
                                </select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="gender">Select Gender</label>
                                <select asp-for="gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                                    <option disabled>Select Gender</option>
                                </select>
                                <span asp-validation-for="gender" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label asp-for="HospitalIDs">Select Hospital</label>
                                <select asp-for="HospitalIDs" class="form-control" asp-items="ViewBag.HospitalProfile" id="hospitaldropdown">
                                    <option disabled>Select Hospital</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhotoPath">Photo</label>
                            <input asp-for="PhotoPath" class="form-control" />
                            <span asp-validation-for="PhotoPath" class="text-danger"></span>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-danger" asp-controller="Doctor" asp-action="Index">Cancel</a>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#hospitaldropdown").chosen();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#stateDropdown").change(function () {
                var selectedStateId = $(this).val();
                if (selectedStateId !== "") {
                    $.ajax({
                        url: '/State/GetCitiesByState',
                        type: 'GET',
                        data: { stateId: selectedStateId },
                        success: function (data) {
                            console.log(data)
                            $("#cityDropdown").empty();
                            $("#cityDropdown").append('<option value="">Select City</option>');
                            $.each(data, function (index, city) {
                                $("#cityDropdown").append('<option value="' + city.id + '">' + city.cityName + '</option>');
                            });
                        }
                    });
                } else {
                    $("#cityDropdown").empty();
                    $("#cityDropdown").append('<option value="">Select City</option>');
                }
            });

            $("#submitButton").click(function () {
                if ($("#cityDropdown").val() === "") {
                    $("#cityDropdown").next(".text-danger").text("Please select a city.");
                    return false; // Prevent form submission
                }
                return true; // Allow form submission
            });
        });
    </script>
}