@using SehatDoc.ViewModels;
@model SpecialityWithDiseasesViewModel
@{
    ViewBag.Title = "Add Speciality";
    Layout = "_AdminDashboard";
}
<div class="container">

    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Add Specialty</h4>
                </div>
                <form asp-controller="Speciality" asp-action="CreateSpeciality" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <span class="text-danger">@ViewBag.Message</span>
                            <label asp-for="SpecialityName">Name</label>
                            <input class="form-control" type="text" asp-for="SpecialityName" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedDiseaseIds">Select Disease</label>
                            <select asp-for="SelectedDiseaseIds" class="form-control" asp-items="ViewBag.Diseases" id="diseaseDropdown">
                                <option disabled>Select Disease</option>
                            </select>
                        </div>
                        
                        <div class="card-footer text-right">
                            <a class="btn btn-danger" asp-controller="Speciality" asp-action="Index">Cancel</a>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(function () {
            $("#diseaseDropdown").chosen();
        });
    </script>
}
 

