@using SehatDoc.ViewModels;
@model SpecialityWithDiseasesViewModel
@{
    ViewBag.Title = "Add Speciality";
    Layout = "_AdminDashboard";
}
<div class="container">
    <form asp-controller="Speciality" asp-action="CreateSpeciality" method="post">
        <label class="form-label" for="SpecialityName">Speciality Name:</label>
        <input class="form-control" type="text" asp-for="SpecialityName" />

        <label asp-for="SelectedDiseaseIds">Select Diseases:</label>
        @foreach (var disease in ViewBag.Diseases)
        {
            <input type="checkbox" name="SelectedDiseaseIds" value="@disease.DiseaseID" /> @disease.DiseaseName
        }

        <button type="submit">Add Specialty</button>
    </form>
</div>