@model SpecialityDTO
@{
    ViewBag.Title = "Edit Speciality";
    Layout = "_AdminDashboard";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Edit Specialty</h4>
                </div>
                <form asp-controller="Speciality" asp-action="EditSpeciality" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <input asp-for="id" hidden />
                            <label asp-for="name">Specialty Name</label>
                            <input asp-for="name" class="form-control" />
                        </div>
                     
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-light">Reset All</button>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
