@using SehatDoc.HospitalProfileDTO_s;
@model HospitalProfileDTO
@{
    ViewBag.Message = "Hospital Profile";
    
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Edit Hospital Profile</h4>
                </div>
                <form asp-controller="HospitalProfile" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="HospitalName">Hospital Name</label>
                            <input asp-for="HospitalName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="HospitalLocation">Hospital Name</label>
                            <input asp-for="HospitalLocation" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentIDs">Select Department</label>
                            <select asp-for="DepartmentIDs" class="form-control" asp-items="ViewBag.Departments" id="departmentDropdown">
                                <option disabled>Select Department</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="HospitalNumber">Hospital Number</label>
                            <input asp-for="HospitalNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="city">Select City</label>
                            <select asp-for="city" class="form-control" asp-items="Html.GetEnumSelectList<Cities>()">
                                <option disabled>Select City</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="HospitalLogo">Logo</label>
                            <input asp-for="HospitalLogo" class="form-control" />
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-light">Reset All</button>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#departmentDropdown").chosen();
        });
    </script>
}
