@using SehatDoc.HospitalProfileDTO_s;
@model HospitalProfileDTO
@{
    ViewBag.Message = "Edit Hospital Profile";
    Layout = "_AdminDashboard";
}
<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <form asp-controller="HospitalProfile" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input asp-for="ID" hidden />
                        <div class="row g-0">
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Add Doctor</h3>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">

                                                <label class="form-label" asp-for="HospitalName">Name</label>
                                                <input asp-for="HospitalName" class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="HospitalLocation">Location</label>
                                                <input asp-for="HospitalLocation" class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="DepartmentID">Select Department</label>
                                                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.Departments">
                                                    <option disabled>Select Department</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="HospitalNumber">Number</label>
                                                <input asp-for="HospitalNumber" class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="HospitalLogo">Logo</label>
                                        <input asp-for="HospitalLogo" class="form-control form-control-lg" />
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                   

                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>