@using SehatDoc.DiseaseDTO_s;
@model DiseaseDTO
@{
    ViewBag.Message = "Add Disease";
    Layout = "_AdminDashboard";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Add Disease</h4>
                </div>
               <form asp-controller="Disease" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                                <label asp-for="DiseaseName">Disease Name</label>
                                <input asp-for="DiseaseName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DiseaseImage">Disease Image</label>
                            <input asp-for="DiseaseImage" class="form-control" />
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-light">Reset All</button>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>