@using SehatDoc.Models;
@model Disease
@{
    ViewBag.Title = "Disease Detail";
    var photo = "~/images/" + (Model.DiseaseImage);
}

<div class="card">
    <div class="card-header d-flex flex-row justify-content-between bg-warning">
        <div class="text-dark"> <h5>@Model.DiseaseName</h5></div>
        <div>  <img class="rounded-circle" src="@photo" width="50px" asp-append-version="true" height="50px" /></div>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>@Model.DiseaseDescription</p>
            <div class="float-end">
               
            </div>
            <footer class="blockquote-footer">
                @foreach (var ds in Model.DiseaseSymptoms)
                {                    
                 <cite title="Source Title">@ds.Symptoms.SymptomName <br /></cite>
                }
             </footer>
        </blockquote>
    </div>
</div>