@using SehatDoc.DiseaseDTO_s;
@model DiseaseDTO
@{
    ViewBag.Message = "Edit Disease";
    Layout = "_AdminDashboard";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Edit Disease</h4>
                </div>
                <form asp-controller="Disease" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="DiseaseName">Name</label>
                            <input asp-for="DiseaseName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SymptomsIDs">Select Symptoms</label>
                            <select asp-for="SymptomsIDs" class="form-control" asp-items="ViewBag.Symptoms" id="symptomsDropdown">
                                <option disabled>Select Symptoms</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiseaseImage">Image</label>
                            <input asp-for="DiseaseImage" class="form-control" />
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-light">Reset All</button>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#symptomsDropdown").chosen();
        });
    </script>

}