@using SehatDoc.SymptomsDTO_s;
@model SymptomsDTO
@{
    ViewBag.Message = "Symptom";
    Layout = "_AdminDashboard";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="margin-top:50px;">
            <div class="card">
                <div class="=card-header">
                    <h4 class="text-center my-3">Edit Symptom</h4>
                </div>
                <form asp-controller="Symptoms" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="SymptomName">Name</label>
                            <input asp-for="SymptomName" class="form-control" />
                            <span asp-validation-for="SymptomName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SymptomDescription">Description</label>
                            <input asp-for="SymptomDescription" class="form-control" />
                            <span asp-validation-for="SymptomDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SymptomImage">Image</label>
                            <input asp-for="SymptomImage" class="form-control" />
                            <span asp-validation-for="SymptomImage" class="text-danger"></span>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-danger" asp-controller="Symptoms" asp-action="Index">Cancel</a>
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
